th {
    background-color: #AAD5E3;
}

td {
  background-color: #B9E3AA;
}

h1 {
  color: #AAD5E3;
}

div.b1 {
  background-color: #FFFFCC;
}

div.b2 {
  background-color: #D3F2C9;
}

div.b3 {
  background-color: #F2D3C9;
}
